<!--About-->
<section class="section about">
    <div class="conteiner">
        <label for="about__title">
            <p class="about__label">tradition and love</p>
        </label>

                <button type="button" class="about__button js-open-modal" data-modal="3">Read more <svg
                        class="icon-vectorright" width="6" height="10">
                        <use href="./images/svg/symbol-defs.svg#icon-vectorright"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- about__modal -->

<div class="modal about__modal" data-modal="3">
    <button class="about__modal-button-close js-modal-close"><svg class="modal__icon-close" width="20" height="20">
            <use href="./images/svg/symbol-defs.svg#icon-clarity_close-line"></use>
        </svg></button>
    <h3 class="about__modal-title">How it’s made?</h3>
    <iframe class="about__modal-video" width="560" height="315" src="https://www.youtube.com/embed/Gz9x3mPsffA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p class="about__modal-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>