<!--About-->
<section class="section about">
    <div class="conteiner">
        <label for="about__title">
            <p class="about__label">tradition and love</p>
        </label>
        <h3 class="about__title">how it’s made?</h3>


        <div class="about__box">
            <div class="about__responsuiv">
                <div class="about__responsuiv-content"></div>
            </div class="about__box-img">
            <img class="about__box-img" src="./images/about/cowmobile.png" alt="cow">
        </div>
        <p class="about__paragraf-first">Ice is a place where you will become not only a little happier, but
            also
            healthier. Health is the
            main value for us, and we follow it when creating our handmade desserts.</p>
        <p class="about__paragraf-second">We use traditional recipes and 100% natural ingredients. Our
            products are so
            natural that they can be
            given to children from the age of three years. Sweets lovers can expect 55 types of ice cream,
            15
            types of coffee and 23 milkshakes.</p>

        <button type="button" class="about__button js-open-modal" data-modal="3">Read more <svg class="icon-vectorright"
                width="6" height="10">
                <use href="./images/svg/symbol-defs.svg#icon-vectorright"></use>
            </svg>
</section>

<!-- about__modal -->

<div class="modal about__modal" data-modal="3">
    <button class="about__modal-button-close js-modal-close"><svg class="modal__icon-close" width="20" height="20">
            <use href="./images/svg/symbol-defs.svg#icon-clarity_close-line"></use>
        </svg></button>
    <h3 class="about__modal-title">How it’s made?</h3>
    <iframe class="about__modal-video" width="560" height="315" src="https://www.youtube.com/embed/Gz9x3mPsffA"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <p class="about__modal-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
</div>