<contacts>
    <div class="contacts__bg"></div>
    <div class="contacts">
    <h3 id="Contacts" class="visualli-hidden">Contacts</h3>
    
    <ul class="contacts__list">
        <li class="contacts__items">
            <button class="contacts__btn">CAFE</button>
                <address class="contacts__address"><span class="contacts__address--span">Chicago</span> <br>
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
                <div class="contacts__table">
                    <table>
                        <tr>
                            <th class="contacts__table--title">Monday - Friday</th>
                        </tr>
                        <tr>
                            <td>06:00 AM - 10:00 PM</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="contacts__table--title">Saturday - Sunday</th>
                        </tr>
                        <tr>
                            <td>08:00 AM - 16:00 PM</td>
                        </tr>
                    </table>
                </div>
                <ul class="contacts__cont">
                    <li>
                        <a href="tel:+610383766284" class="link contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="link contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
        </li>

        <li class="contacts__items">
            <button class="contacts__btn">FOODTRUCK</button>
            <address class="contacts__address"><span class="contacts__address--span">Los Angeles</span> <br>
                    1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
            <div class="contacts__table">
                <table>
                    <tr>
                        <th class="contacts__table--title">Monday - Friday</th>
                    </tr>
                    <tr>
                        <td>06:00 AM - 10:00 PM</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th class="contacts__table--title">Saturday - Sunday</th>
                    </tr>
                    <tr>
                        <td>08:00 AM - 16:00 PM</td>
                    </tr>
                </table>
            </div>
                <ul class="contacts__cont">
                    <li>
                        <a href="tel:+610383766284" class="link contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="link contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
        </li>

        <li class="contacts__items">
            <button class="contacts__btn">CAFE</button>
            <address class="contacts__address"><span class="contacts__address--span">New York</span> <br>
                    726 Sterling Pl, Brooklyn, NY 11222, USA</address>
                <div class="contacts__table">
                    <table>
                        <tr>
                            <th class="contacts__table--title">Monday - Friday</th>
                        </tr>
                        <tr>
                            <td>06:00 AM - 10:00 PM</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th class="contacts__table--title">Saturday - Sunday</th>
                        </tr>
                        <tr>
                            <td>08:00 AM - 16:00 PM</td>
                        </tr>
                </table>
            </div>
                <ul class="contacts__cont">
                    <li>
                        <a href="tel:+610383766284" class="link contacts__tel">+61(0) 383 766 284</a>
                    </li>
                    <li>
                        <a href="mailto:noreply@envato.com" class="link contacts__mail">noreply@envato.com</a>
                    </li>
                </ul>
        </li>
    </ul>

    <div class="contacts__button">
        <button type="submit" class="contacts__button1">Our Locations</button>
        <button type="submit" class="contacts__button2">Franchise</button>
    </div>
</contacts>