<section>
  <div class="container">
    <div class="slider">
      <input
        type="radio"
        name="slider"
        title="slide1"
        checked="checked"
        class="slider__nav"
        id="slider_1"
      />
      <input type="radio" name="slider" title="slide2" class="slider__nav" id="slider_2" />
      <input type="radio" name="slider" title="slide3" class="slider__nav" id="slider_3" />

      <div class="next control">
        <label for="slider_1" class="numb1">&gt;</label>
        <label for="slider_2" class="numb2">&gt;</label>
        <label for="slider_3" class="numb3">&gt;</label>
      </div>
      <div class="previous control">
        <label for="slider_1" class="numb1">&lt;</label>
        <label for="slider_2" class="numb2">&lt;</label>
        <label for="slider_3" class="numb3">&lt;</label>
      </div>

      <div class="slider__inner">
        <div class="slider__contents">
          <img
            class="slider__image"
            srcset="/src/images/reviews/foto-1-1x.jpg 1x, /src/images/reviews/foto-1-2x.jpg 2x"
            src="/src/images/reviews/foto-1-1x.jpg"
            alt="Emily"
          />
          <p class="slider__txt">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <h2 class="slider__caption">Emily, Los Angeles</h2>
        </div>
        <div class="slider__contents">
          <img
            class="slider__image"
            srcset="/src/images/reviews/foto-2-1x.jpg 1x, /src/images/reviews/foto-2-2x.jpg 2x"
            src="/src/images/reviews/foto-2-1x.jpg"
            alt="Bryan"
          />
          <p class="slider__txt">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <h2 class="slider__caption">Bryan, New-York</h2>
        </div>
        <div class="slider__contents">
          <img
            class="slider__image"
            srcset="/src/images/reviews/foto-3-1x.jpg 1x, /src/images/reviews/foto-3-2x.jpg 2x"
            src="/src/images/reviews/foto-3-1x.jpg"
            alt="Diana"
          />
          <p class="slider__txt">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <h2 class="slider__caption">Diana, Chicago</h2>
        </div>
      </div>
    </div>
  </div>
</section>
