<footer class="footer">
  <div class="container">
    <div class="footer__info">
      <div class="footer__title">
        <p>homemade ice cream made</p>
        <p>with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="soc__list">
          
          <li class="soc__list-item">
            <a href="" class="soc__link">
              <svg class="soc__icon" width="" height="">
                <!-- <use href=""></use> -->
              </svg>
            </a>
          </li>
          <li class="soc__list-item">
            <a href="" class="soc__link">
              <svg class="soc__icon" width="" height="">
                <!-- <use href=""></use> -->
              </svg>
            </a>
          </li>
          <li class="soc__list-item">
            <a href="" class="soc__link">
              <svg class="soc__icon" width="" height="">
                <!-- <use href=""></use> -->
              </svg>
            </a>
          </li>
          <p>Feel free to contact</p>
          <a class="contact__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </ul>
      </div>
    </div>
    <div class="footer__copyright">
      <p class="footer__copyright-text">
        &#169; 2022 - IceCream. <br class="footer__copyright-text-divider" />
        All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
