<section class="gallery">
  <div class="container">
    <div class="single-item">
      <div>
        <img
          rcset="
                  ./images/gallery/maindesktop.jpg 1x,
                    ./images/gallery/desktopmain-2x.jpg 2x
                  "
          src="./images/gallery/maindesktop.jpg"
          alt="fruit ice cream"
          class="gallery__img"
        />
      </div>
      <div>
        <img
          rcset="
                    ./images/gallery/5ices.jpg 1x,
                    ./images/gallery/5icesx2.jpg 2x
                  "
          src="./images/gallery/5ices.jpg"
          alt="ice cream with different flavors"
          class="gallery__img"
        />
      </div>
      <div>
        <img
          rcset="
                    ./images/gallery/5pices.jpg 1x,
                    ./images/gallery/5picesx2.jpg 2x
                  "
          src="./images/gallery/5pices.jpg"
          alt="ice lolly"
          class="gallery__img"
        />
      </div>
    </div>
  </div>
</section>
