<section class="section hero">
      <div class="container hero__container">
        <div class="hero__wrapper"> 
        <div>
        <h1 class="title hero__title">
        ice cream made with passion
    </h1>
   <ul class="list hero__list">
        <li class="items hero__item">
            <a  href="#products" class="hero__btn">Products</a></li>
        <li class="items hero__item">
             <a href="#about" class="hero__link">How it’s made?
             </a></li>
    </ul>
       </div class="hero-right">
        <ul class="hero-right__list ">
            <li class="hero-right__item">
                <p class="hero-number">16</p>
                <span class="number-subtitle">cafes</span>
            </li>
            <li class="hero-right__item">
                <p class="hero-number">23</p>
                <span class="number-subtitle">food trucks</span>
            </li>
        </ul>
    </div>  
    <div class="subtitle">
        <p class="subtitle__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et</p>
      <button class="subtitle__btn"> </button>  
        </div>
      </div>
   
    <div class="hero-thumb-main">
      <picture>
        <source
          srcset="
            ./images/header/maindesktop.png   1x,
            ./images/header/maindesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/maintablet.png   1x,
            ./images/header/maintabletx2.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/main480.png   1x,
            ./images/header/main480x2.png 2x
          "
          media="(min-width:480px)"
        />
        <img
          srcset="
            ./images/header/mainmobile320.png  1x,
            ./images/header/mainmobile32x2.png 2x
          "
          src="./images/header/mainmobile320.png"
          alt="ice cream"
        />
      </picture>
    </div>
    <div class="hero-thumb-line">
      <picture>
        <source
          srcset="
            ./images/header/linedesktop.png   1x,
            ./images/header/linedesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/linetablet.png   1x,
            ./images/header/linetabletx2.png 1x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/linemobile.png   1x,
            ./images/header/linemobilex2.png 1x
          "
          media="(min-width:480px)"
        />
        <img
          srcset="./images/header/linemobile.png 1x, ./images/header/linemobilex2.png 2x"
          src="./images/header/linemobile.png"
          alt="line"
        />
      </picture>
    </div>
    <div class="hero-thumb-ice">
      <picture>
        <source
          srcset="
            ./images/header/icesdesktop.png   1x,
            ./images/header/icesdesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/icestablet.png   1x,
            ./images/header/icestabletx2.png 1x
          "
          media="(min-width:768px)"
        />
        <img src="./images/header/icestablet.png" alt="ices" />
      </picture>
    </div>
  </div>
</section>
