<section class="section hero">
      <div class="container hero__container">
        <div class="hero__wrapper"> 
        <div class="hero__div">
        <h1 class="title hero__title">
        ice cream made with passion
    </h1>
   <ul class="list hero__list">
        <li class="items hero__item">
            <a  href="#products" class="hero__btn">Products</a></li>
        <li class="items hero__item">
             <a href="#about" class="hero__link">How it’s made?
             </a></li>
    </ul>
       </div class="hero-right">
        <ul class="hero-right__list ">
            <li class="hero-right__item">
                <p class="hero-number">16</p>
                <span class="number-subtitle">cafes</span>
            </li>
            <li class="hero-right__item">
                <p class="hero-number">23</p>
                <span class="number-subtitle">food trucks</span>
            </li>
        </ul>
    </div>  
    <div class="subtitle">
        <p class="subtitle__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et</p>
      <button type="button" class="subtitle__btn"></button>  
        </div>
           
    <div class="hero-tumb-ice">
      <picture>
        <source
          srcset="
            ./images/header/icecreamdesktop.png   1x,
            ./images/header/icecreamdesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/icecreamtablet.png   1x,
            ./images/header/icecreamtabletx2.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/icecreammob.png   1x,
            ./images/header/icecreammobx2.png 2x
          "
          media="(min-width:480px)"
        />
        <img
          srcset="
            ./images/header/icecream.png  1x,
            ./images/header/icecreamx2.png 2x
          "
          src="./images/header/icecream.png"
          alt="ice cream"
        />
      </picture>
    </div>
    <div class="hero-tumb-line">
      <picture>
        <source
          srcset="
            ./images/header/linedesktop.png   1x,
            ./images/header/linedesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/linetablet.png   1x,
            ./images/header/linetabletx2.png 1x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/header/line.png   1x,
            ./images/header/linex2.png 1x
          "
          media="(min-width:480px)"
        />
        <img
          srcset="./images/header/line.png 1x, 
          ./images/header/linex2.png 2x"
          src="./images/header/line.png"
          alt="line"
        />
      </picture>
    </div>
    <div class="hero-tumb-plate">
      <picture>
        <source
          srcset="
            ./images/header/platedesktop.png   1x,
            ./images/header/platedesktopx2.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/header/plate.png   1x,
            ./images/header/platex2.png 2x
          "
          media="(min-width:768px)"
        />
        <img 
         srcset="./images/header/plate.png 1x, 
          ./images/header/platex2.png 2x"
        src="./images/header/plate.png" alt="ices" />
      </picture>
    </div>
      </div>
  </div>
</section>
