<section class="ice-cream" id="products">
  <div class="container">
    <p class="label-product">
      <label class="ice-cream__label">100% natural</label>
    </p>
    <h1 class="ice-cream__title">products</h1>
    <ul class="ice-cream-products__list">
      <li class="products-item products-item__icecream">
        <div class="products-wrap">
          <h2 class="ice-cream__name">ice cream</h2>
          <p class="ice-cream__paragraph">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button class="ice-cream__button"></button>
      </li>

      <li class="products-item products-item__icecoffee">
        <div class="products-wrap">
          <h2 class="ice-cream__name">ice coffee</h2>
          <p class="ice-cream__paragraph">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="ice-cream__button"></button>
        </div>
      </li>

      <li class="products-item products-item__milkshakes">
        <div class="products-wrap">
          <h2 class="ice-cream__name">milkshakes</h2>
          <p class="ice-cream__paragraph">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="ice-cream__button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
