<section class="ice-cream" id="products">
    <div class="container">
        <label class="ice-cream__label">100% natural</label>
        <h1 class="ice-cream__title">products</h1>
        <ul class="ice-cream-products__list">
            <li class="products-item products-item__icecream"></li>
            <div class="products-wrap">
                <h2 class="ice-cream__name">ice cream</h2>
                <p class="ice-cream__paragraph">
                  Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                  natural stabilizer
                </p>
            </div>
            <button class="ice-cream__button"> </button>
        </ul>
        
        
        <!-- слайдер -->
    </div>
  </section>