.about {
    background-color: #84A178;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.about__label {
    padding-top: 60px;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;

    @media screen and (min-width: 768px) {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
    }

    @media screen and (min-width: 1200px) {
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
    }
}

.about__title {
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FCFCFC;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 34px;
        line-height: 1.27;
        letter-spacing: 0.06em;
        width: 100%;
        margin-bottom: 72px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.25;
        letter-spacing: 0.06em;
        width: 100%;
        margin-bottom: 82px;
    }
}

.about__responsuiv {
    position: relative;
    width: 100%;
    max-width: 279px;
    margin-bottom: 62px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 330px;
        margin-left: 0;
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 490px;
        margin-left: 0;
        margin-bottom: 0px;
    }
}

.about__responsuiv::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.about__responsuiv-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(248, 210, 78, 0.7);
    border-radius: 50%;
}

.about__box {
    position: relative;
}

.about__box-img {
    max-width: 279px;
    position: absolute;
    top: 22px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 330px;
        top: 26px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 490px;
        top: 39px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.about__paragraf-first {
    width: calc(100% - 40px);
    max-width: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    color: #FCFCFC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 334px;
        text-align: left;
        font-size: 12px;
        line-height: 1.76;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 463px;
        text-align: left;
        font-size: 16px;
        line-height: 1.76;
        margin-bottom: 8px;
    }
}

.about__paragraf-second {
    width: calc(100% - 40px);
    max-width: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.62;
    text-align: center;
    color: #FCFCFC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 334px;
        text-align: left;
        font-size: 12px;
        line-height: 1.76;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 463px;
        text-align: left;
        font-size: 14px;
        line-height: 1.794;
        margin-bottom: 8px;
    }
}

.about__paragraf-third {
    width: calc(100% - 40px);
    max-width: 220px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.62;
    text-align: center;
    color: #FCFCFC;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        max-width: none;
        width: 334px;
        text-align: left;
        font-size: 12px;
        line-height: 1.76;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        max-width: none;
        width: 463px;
        text-align: left;
        font-size: 14px;
        line-height: 1.794;
        margin-bottom: 54px;
    }
}

.about__button {
    width: 164px;
    height: 42px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    background-color: #F8D24E;
    border-radius: 10px;
    border: none;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
}

.about__button:hover {
    background-color: #0A8817;
}

.about__button:focus {
    background-color: #0A8817;
    color: #FCFCFC;
}

.icon-vectorright:focus {
    color: #FCFCFC;
}

.icon-vectorright {
    fill: currentColor;
}

.about__dlock-right {
    @media screen and (min-width: 768px) {
        display: block;
        width: 334px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        width: 463px;
    }
}

.about__flex {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 38px;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        gap: 109px;
        align-items: center;
    }
}

// about__modal //

.about__modal {
    position: relative;
    width: calc(100% - 40px);
    height: auto;
    padding-left: 28px;
    padding-right: 28px;

    @media screen and (min-width: 768px) {
        width: 568px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.about__modal-button-close {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: transparent;
}

.about__modal-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    color: #131313;
    padding-top: 28px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.4;
        padding-top: 32px;
        margin-bottom: 32px;
    }
}

.about__modal-video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        height: 205px;
        margin-bottom: 32px;
    }
}

.about__modal-paragraf {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
    padding-bottom: 28px;

    @media screen and (min-width: 768px) {
        padding-bottom: 32px;
        font-size: 16px;
    }
}