.advantages {
  background-color: #84a178;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 80px;
  }
}

.advantages__list {
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages__item {
  @media screen and (min-width: 480px) {
    width: 2130px;
  }
  @media screen and (min-width: 768px) {
    width: 152px;
  }

  @media screen and (min-width: 1200px) {
    width: 368px;
  }
}

.advantages__item::before {
  display: inline-block;
  content: '';

  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

.advantages__item--icocow::before {
  background-size: 50px 50px;
  background-image: url(/src/images/advantages/cow.png);
}

@include retina {
  .advantages__item--icocow::before {
    background-image: url('/src/images/advantages/cow2x.png');
  }
}

.advantages__item--icoweight::before {
  background-size: 50px 50px;
  background-image: url(/src/images/advantages/weight.png);
}

@include retina {
  .advantages__item--icoweight::before {
    background-image: url('/src/images/advantages/weigh2x.png');
  }
}

.advantages__item--icocrema::before {
  background-size: 50px 50px;
  background-image: url(/src/images/advantages/ice.png);
}

@include retina {
  .advantages__item--icocrema::before {
    background-image: url('/src/images/advantages/ice2x.png');
  }
}

.advantages__header {
  margin-bottom: 16px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #00000040;
  color: #fcfcfc;
  font-family: Montserrat;

  @include font(36, 700, 1.2, 0.04em);

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
    @include font(48, 700, 1.3, 0.04em);
  }

  @media screen and (min-width: 1200px) {
    @include font(58, 700, 1.2, 0.04em);
  }
}

.advantages__text {
  text-shadow: 0px 4px 4px #00000040;
  color: #fcfcfc;
  font-family: Montserrat;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 480px) {
    @include font(12, 700, 1.7, 0em);
  }
  @media screen and (min-width: 768px) {
    @include font(14, 400, 1.7, 0em);
  }

  @media screen and (min-width: 1200px) {
    @include font(16, 400, 1.8, 0em);
  }
}

.advantages__text--icecrema {
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.advantages__list .advantages__item + .advantages__item {
  @media screen and (min-width: 768px) {
    margin-left: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 32px;
  }
}
