.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: 0.3s all;

    @media screen and (max-height: 996px) {
        overflow: auto;
    }
}

.modal {

    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    /*  Побочные стили   */
    border: 2px solid #F8D24E;
    border-radius: 10px;
    background-color: #FCFCFC;
    transition: 0.3s all;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}