.hero {
  width: 100%;
  height: 453px;
  background-color: #84a178;
  // @media screen and (min-width: 480px) {
  //   height: 357px;
  // }
  @media screen and (min-width: 768px) {
    height: auto;
  }
  // @media screen and (min-width: 1200px) {
  //   height: 570px;
  // }
}
.hero__container {
  position: relative;
  height: 100%;
  @media screen and (min-width: 768px) {
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 103px;
  }
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.hero__title {
  text-transform: uppercase;
  font-family: 'Seymour One';
  letter-spacing: 0.04em;
  color: #fcfcfc;
  max-width: 247px;
  font-size: 26px;
  line-height: calc(32.6 / 26);
  margin-top: 50px;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 367px;
    font-size: 38px;
    line-height: calc(47.7 / 38);
    margin-bottom: 28px;
  }
}
.hero__list {
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (min-width: 768px) {
    margin-bottom: 51px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 109px;
    gap: 34px;
  }
}
.hero__btn {
  outline: none;
  transition: 250ms border, transform cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #f8d24e;
  background-color: transparent;
  color: #131313;
  padding: 11px 26px;
  width: 108px;
  height: 38px;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(14.6 / 12);
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    padding: 12px 34px;
    width: 134px;
    height: 42px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(18 / 14);
    border-radius: 10px;
  }

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    border: 2px solid #0a8817;
    color: #fcfcfc;
  }
}

.hero__link {
  transition-property: color, transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(14.6 / 12);
  font-family: 'Montserrat', sans-serif;
  color: #f8d24e;
  border: none;
  background-color: transparent;
  position: relative;
  text-decoration: underline;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    font-weight: 600;
    line-height: calc(17 / 14);
    color: #f8d24e;
  }

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
  }
}
.hero-right__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (min-width: 1200px) {
    gap: 16px;
  }
}

.hero-right__item {
  @media screen and (min-width: 1200px) {
    height: 77px;
    width: 100%;
  }
}
.hero-number {
  font-family: 'Montserrat', sans-serif;
  color: #131313;
  text-align: right;
  font-size: 28px;
  font-weight: 900;
  line-height: calc(34 / 28);
  margin-bottom: 4px;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    font-weight: 900;
    line-height: calc(56 / 46);
    margin-bottom: 4px;
  }
}
.number-subtitle {
  @media screen and (min-width: 768px) {
    font-size: 8px;
    font-weight: 400;
    line-height: calc(9.7 / 8);
    font-family: 'Montserrat', sans-serif;
    color: #fcfcfc;
    display: block;
    text-align: right;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}
.subtitle {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 185px;
  }

  @media screen and (min-width: 1200px) {
    gap: 24px;
    margin-left: 257px;
  }
}
.subtitle__text {
  display: none;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(16.8 / 12);
    color: #fcfcfc;
    max-width: 139px;
    display: block;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(19.6 / 14);
    max-width: 200px;
  }
}
.subtitle__btn {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  padding: 0;

  width: 38px;
  height: 14px;

  background-image: url(/src/images/svg/components/arrow.svg);
}
.hero-tumb-ice {
  position: absolute;
  bottom: 0;
  right: 60px;
  @media screen and (min-width: 480px) {
    right: 20px;
    z-index: 1;
  }
  @media screen and (min-width: 768px) {
    right: 92px;
  }
}
.hero-tumb-line {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hero-tumb-plate {
  @media screen and (max-width: 767px) {
    display: none;
  }
  position: absolute;
  bottom: 12px;
  right: 584px;
  @media screen and (min-width: 1200px) {
    right: 959px;
    bottom: 65px;
  }
}
