.ice-cream {
  // background-image: url(/src/images/backgrund/backmobile.jpg);
  // background-position: top;
  // background-repeat: repeat;
  // background-size: contain;
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (min-width: 480px) {
  //   background-image: url(../images/backgrund/backgroudmobile.png);
  // }

  // @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
  //   screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (min-width: 480px) and (min-resolution: 192dpi),
  //   screen and (min-width: 480px) and (min-resolution: 2dppx) {
  //   background-image: url(../images/backgrund/backgroudmobilex2.png);
  // }

  // @media screen and (min-width: 768px) {
  //   background-image: url(../images/backgrund/backtablet.jpg);
  // }

  // @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  //   screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (min-width: 768px) and (min-resolution: 192dpi),
  //   screen and (min-width: 768px) and (min-resolution: 2dppx) {
  //   background-image: url(../images/backgrund/backtabletx2.jpg);
  // }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/backgrund/backdesktop.jpg);
  }

  // @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  //   screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  //   screen and (min-width: 1200px) and (min-resolution: 192dpi),
  //   screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  //   background-image: url(/src/images/backgrund/backdesktopx2.jpg);
  // }
}

.ice-cream__label {
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.22;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }
}

.label-product {
  text-align: center;
}

.ice-cream__title {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
  font-family: Seymour One;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.27;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    letter-spacing: 0.06em;
    margin-bottom: 303px;
    font-size: 36px;
    line-height: 1.25;
  }
}

.ice-cream-products__list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 168px;
  display: flex;

  @media screen and (min-width: 768px) {
    gap: 16px;
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.products-item {
  max-width: 100%;
  min-height: 420px;
  position: relative;
  transform: scale(1);
}

.products-item__icecream {
  background: #aec6a5;
  border-radius: 24px;
}

.products-item__icecoffee {
  background: #efd478;
  border-radius: 24px;
}

.products-item__milkshakes {
  background: #d6936d;
  border-radius: 24px;
}

.products-item__icecream::before {
  content: '';
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    none;

  border-radius: 101px;
  position: absolute;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 5px 20px rgb(10 136 23 / 25%);

  @media screen and (min-width: 768px) {
    border-radius: 98px;
    bottom: 78%;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 74%;
  }
}

.products-wrap {
  height: 100%;
  padding: 123px 40px 85px;

  @media screen and (min-width: 768px) {
    padding: 108px 26px 78px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 64px 126px;
  }
}

.ice-cream__name {
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.23;
  }
}

.ice-cream__paragraph {
  max-width: 200px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.79;

  @media screen and (min-width: 768px) {
    max-width: 172px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 242px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.ice-cream__button {
  cursor: url(../images/about/vector.png);

  width: 38px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../images/svg/components/arrow-blackdefault.0ed6928c.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  margin: 0 auto;
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);
  fill: #131313;

  @media screen and (min-width: 768px) {
    bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 60px;
  }
}

.products-item__icecream::after {
  content: '';
  width: 200px;
  height: 200px;
  background-image: url(../images/products/products1mobile.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 101px;
  position: absolute;
  bottom: 78%;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products1mobilex2.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/products1tablet.png);
    border-radius: 98px;
    bottom: 81%;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products1tabletx2.png);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 78%;
    background-image: url(../images/products/products1desktop.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products1x2desktop.png);
  }
}

.products-item__icecoffee::before {
  content: '';
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 101px;
  position: absolute;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 5px 20px rgb(153 114 23 / 25%);

  @media screen and (min-width: 768px) {
    border-radius: 98px;
    bottom: 78%;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 74%;
  }
}

.products-item__icecoffee::after {
  content: '';
  width: 200px;
  height: 200px;
  background-image: url(../images/products/products2mobile.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 101px;
  position: absolute;
  bottom: 78%;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products2mobilex2.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/products2tablet.png);
    border-radius: 98px;
    bottom: 81%;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products2tabletx2.png);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 78%;
    background-image: url(/src/images/products/products2desktop.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(/src/images/products/products2desktopx2.png);
  }
}

.products-item__milkshakes::before {
  content: '';
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  background-image: linear-gradient(
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto, auto;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 101px;
  position: absolute;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 5px 20px rgb(0 0 0 / 25%);

  @media screen and (min-width: 768px) {
    border-radius: 98px;
    bottom: 78%;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 74%;
  }
}

.products-item__milkshakes::after {
  content: '';
  width: 200px;
  height: 200px;
  background-image: url(../images/products/priducts3mobile.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 101px;
  position: absolute;
  bottom: 78%;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/priducts3mobilex2.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/products/products3tublet.png);
    border-radius: 98px;
    bottom: 81%;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products3tubletx2.png);
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    border-radius: 150px;
    bottom: 78%;
    background-image: url(../images/products/products3desktop.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/products/products3desktopx2.png);
  }
}

.modal-ingred {
  box-sizing: border-box;
  max-width: 280px;
  max-height: 968px;
  background: #fff;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 35%;
  padding: 28px 20px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;
  top: 360px;
  left: 50%;
  overflow: auto;

  @media screen and (min-width: 480px) {
    min-width: 280px;
    min-height: 968px;
    padding: 28px 20px;
  }

  @media screen and (min-width: 768px) {
    min-width: 568px;
    min-height: 996px;
    padding: 32px 40px;
    transform: translate(-50%, -50%) scale(0.7);
    overflow: hidden;
  }
}

.modal-ingred__button {
  background: #fff;
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 12px;
  right: 12px;
}

.modal-ingred__icon {
  position: absolute;
  top: 0;
  right: 0;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.modal-ingred__title {
  text-align: center;
  color: #131313;
  align-items: center;
  margin: 0 0 20px;
  font-family: Seymour One;
  font-size: 20px;
  line-height: 1.4;
  position: relative;

  @media screen and (min-width: 768px) {
    margin: 0 0 25px;
  }
}

.modal-ingred__block {
  width: 100%;
  height: 139px;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  display: flex;
  position: relative;
}

.modal-ingred__background {
  width: 132px;
  height: 132px;
  background-color: rgba(156, 190, 143, 0.7);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  box-shadow: 0 5.26027px 19.726px rgb(10 136 23 / 25%);
}

.modal-ingred__images {
  width: 132px;
  height: 132px;
  background-image: url(../images/products/chocolateicecrem.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.modal-ingred__checkbox {
  gap: 9px;
  margin-bottom: 40px;
  display: flex;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 20px;
    margin-bottom: 48px;
  }
}

.flipswitch {
  width: 53px;
  height: 72px;
  appearance: initial;
  text-align: center;
  color: #131313;
  background: 0 0;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  outline: none;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.8;
  display: flex;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 65px;
    height: 90px;
    font-size: 12px;
    line-height: 2.3333;
  }
}

.flipswitch::before {
  z-index: 1;
  width: 43px;
  height: 43px;
  text-align: center;
  box-sizing: border-box;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  line-height: 32px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: absolute;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
  }
}

.flipswitch-kcal:checked::before,
.flipswitch-prot:checked::before,
.flipswitch-fats:checked::before,
.flipswitch-cards:checked::before {
  top: 0;
  box-shadow: 0 6px 20px rgb(10 136 23 / 25%);
}

.flipswitch-kcal:checked::before {
  content: '320';
}

.flipswitch-prot:checked::before {
  content: '4g';
}

.flipswitch-fats:checked::before {
  content: '8,2g';
}

.flipswitch-cards:checked::before {
  content: '40,4g';
}

.flipswitch::after {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;

  width: 43px;
  height: 43px;
  text-align: center;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 53px;
  }
}

.flipswitch-kcal:not(:checked)::after {
  content: 'kcal';
}

.flipswitch-prot:not(:checked)::after {
  content: 'Prote...';
}

.flipswitch-fats:not(:checked)::after {
  content: 'Fats';
}

.flipswitch-cards:not(:checked)::after {
  content: 'Carbs';
}

.flipswitch-kcal:not(:checked)::after,
.flipswitch-prot:not(:checked)::after,
.flipswitch-fats:not(:checked)::after,
.flipswitch-cards:not(:checked)::after {
  top: 22px;

  @media screen and (min-width: 768px) {
    top: 30px;
  }
}

// Нужно поработать над этим

.modal-ingred__composition-title {
  text-align: center;
  color: #131313;
  align-items: center;
  margin: 0 0 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.modal-ingred__composition-item {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11px;
  display: flex;
}

.modal-ingred__composition-text {
  letter-spacing: 0.04em;
  color: #131313;
  align-items: center;
  margin: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.76;
}

.modal-ingred__composition-list {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.modal-ingred__form {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.modal-ingred__form-field {
  width: 100%;
  color: #131313;
  align-items: center;
  margin-bottom: 16px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.4;
  position: relative;

  @media screen and (min-width: 768px) {
    justify-content: space-evenly;
    display: flex;
  }
}

.modal-ingred__form-input {
  width: 100%;
  height: 42px;
}

.modal-ingred__form-item {
  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: rgba(0, 0, 0, 0);
  padding: 11px 10px;
  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-ingred__form-item:hover {
  border: 1px solid #f8d24e;
}

.modal-ingred__textarea {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 84px;
  color: #131313;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  padding: 11px 10px;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}

.modal-ingred__form-btn {
  width: 114px;
  height: 42px;
  box-shadow: transparent;
  color: #131313;
  background-color: #f8d24e;
  border: none;
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  padding: 12px 34px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  display: block;

  @media screen and (min-width: 768px) {
    width: 121px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2142;
  }
}
